html {
  scroll-behavior: smooth;
}
.unicard {
  border: 0;
  background-color: white;
  border-radius: 10%;
  padding: 20px;
  width: 300px;
}

.uniitem {
  background-color: white;
}

.iconborder {
  border: 2px black solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Montserrat", sans-serif;
}
