.unicard {
  border: 0;
  background-color: white;
  border-radius: 10%;
  padding: 20px;
}

.uniitem {
  background-color: white;
}

.iconborder {
  border: 2px black solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Montserrat", sans-serif;
}

.marquee {
  background-color: black;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.marquee-header {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 16px;
  color: white;
}
.marquee-card {
  width: 235px;
  height: 350px;
  border: 0px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.marquee-uni-image {
  position: relative;
  border-radius: 25px;
  opacity: 0;
}

.marquee-uni-image:hover {
  opacity: 1;
}

.marquee-uni-name {
  position: absolute;
  top: 165px;
  color: white;
}

.marquee-footer {
  font-size: 16px;
  padding-bottom: 30px;
  padding-top: 20px;
}

#seeUni {
  color: white;
}

#seeUni:hover {
  text-decoration: none;
}

.marquee-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  transition: all 0.2s;
  background-color: black;
  border-radius: 2px;
  border-color: white;
  font-size: 23px;
  border-radius: 25px;
  padding-left: 80px;
  padding-right: 80px;
}

.marquee-btn:hover {
  background: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
